@font-face {
    font-display: swap;
    font-family: "Pretendard";
    src: url("$assets/fonts/PretendardVariable.woff2") format("woff2");
}

:root {
    --c-accent: #FFFFFF;
    --c-foreground: #F5F2E5;
    --c-foreground-dark: #aaaaaa;
    --c-background: #06161E;

    max-width: 50rem;
    padding: 8rem 1rem;
    margin: 0 auto;
    color: var(--c-foreground);
    background-color: var(--c-background);
    font-family: "Pretendard", sans-serif;
    font-variation-settings: "wght" 300;
    font-size: 1.125rem;
    line-height: 1.8;
    word-break: keep-all;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variation-settings: "wght" 700;
}

a {
    border-bottom: 1px solid transparent;
    color: var(--c-accent);
    outline: none;
    text-decoration: none;
}

strong {
    font-variation-settings: "wght" 500;
}

::selection {
    background: var(--c-accent);
    color: var(--c-background);
}

article.post {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        line-height: 1.4;
    }

    & h1 {
        font-size: 3rem;
    }

    & h2 {
        font-size: 1.8rem;
    }

    & ol,
    & ul {
        padding-left: 1rem;
    }

    & img[src*="#screenshot"] {
        width: 20rem;

        @media (width > 50rem) {
            margin: auto 1rem;
        }
    }

    & img[src*="#avatar"] {
        width: 20%;
        margin: auto 0.5rem;
    }

    & img[src*="#bundle"] {
        width: 80%;
        margin: auto 0.5rem;
    }

    & div[slot="image"] {
        text-align: center;
    }

    & .bundles {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}