@font-face {
    font-display: swap;
    font-family: "Pretendard";
    font-weight: normal;
    font-style: normal;
    src: url("$assets/fonts/PretendardVariable.woff2") format("woff2");
}

:root {
    --c-accent: #FFFFFF;
    --c-foreground: #F5F2E5;
    --c-foreground-dark: #a0a0a0;
    --c-foreground-comment: #8fadb9;
    --c-foreground-hover: #bcd0e2;
    --c-background: #06161E;
    --c-background-light: #132229;
    --c-background-light-swarm: #292E2B;
    --c-background-light-ironclad: #23252B;
    --c-background-light-shadowfen: #1A2D30;
    --c-background-light-winter: #132D36;
    --c-background-nav: #131E23;
    --c-rarity-common: #f5f1e5;
    --c-rarity-rare: #95d7f9;
    --c-rarity-epic: #dba8f5;
    --c-rarity-legendary: #f5c79f;
    --card: 12rem;
    --padding: 1.25rem;
    --large: calc(var(--card) * 5 + var(--padding) * 8);

    color: var(--c-foreground);
    background-color: var(--c-background);
    font-family: "Pretendard", sans-serif;
    font-variation-settings: "wght" 400;
    line-height: 1.8;
    word-break: keep-all;
}

body {
    margin: 0;
}

main {
    max-width: 50rem;
    padding: 8rem 1rem;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variation-settings: "wght" 700;

    & a {
        text-decoration: none;
    }
}

a {
    color: var(--c-foreground);
    transition: 0.5s;
    line-height: 0;
    text-decoration-color: var(--c-foreground-dark);
    text-underline-offset: 4.35px;
}

a:hover {
    color: var(--c-foreground-hover);
}

strong {
    font-variation-settings: "wght" 500;
}

::selection {
    background: var(--c-accent);
    color: var(--c-background);
}

article.post {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
        line-height: 1.4;
    }

    & h1 {
        font-size: 3rem;
        text-align: center;
    }

    & h2 {
        font-size: 1.8rem;
        margin-top: 4rem;
    }

    & ol,
    & ul {
        padding-left: 1rem;
    }

    & li {
        padding-left: 0.5rem;
    }

    & img[src*="#screenshot"] {
        max-width: 21.7em;
        margin: auto var(--padding);

        @media (width <= 43rem) {
            margin: auto;
        }
    }

    & img[src*="#landscape"] {
        max-width: var(--large);

        @media (width <= 43rem) {
            max-width: calc(var(--large) * 0.375);
        }
    }

    & img[src*="#avatar"] {
        width: 20%;
        margin: auto 0.5rem;
    }

    & img[src*="#bundle"] {
        width: 80%;
        /* margin: auto 0.5rem; */
    }

    & .comment .inner {
        & p {
            margin-top: 0;
            margin-bottom: 0;
        }

        & ul {
            margin-bottom: 0;
        }
    }
}